.header {
    min-height: 40vh;

    .header-content {
        margin-top: -9rem;
    }

    .wrap {
        flex-wrap: wrap;
    }

    button {
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        padding: 0.8rem;
        background-color: rgba(68, 67, 67, 0.473);
        border: none;
        transition: filter 0.3s;

        &:hover {
            filter: brightness(0.8);
        }
    }
}